{% extends "twocol.html" %}
{% load cache pages_tags %}

{% block title %}
{% if current_page %}
	{% show_content current_page "title" %}
{% endif %}
{% endblock %}

{% block contentleft %}
<div id="printhomehelp">
	<div id="printiconbox">
		<a href="javascript:window.print();">Print this page</a>
	</div>
	<div id="homeiconbox"><a href="/">Home</a></div>
	<div id="helpiconbox"><a href="/pages/en/help/">Help!</a></div>
</div>
<!-- Siblings -->
{% if current_page.get_root %}
<ul class="menu">
    {% pages_menu current_page.get_root %}
</ul>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if current_page.get_ancestors %}
<ul>
    {% pages_breadcrumb current_page %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
	{% if current_page %}
		<div id="body" class="placeholder">{% placeholder body on current_page with TinyMCE parsed  %}</div>
	{% endif %}
{% endblock %}
