{% extends "threecol.html" %}
{% load fb_versions %}
{% block title %}{{ device.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/media/css/jquery/plugins/galleriffic.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/jquery/plugins/jquery.lightbox-0.5.css" type="text/css" media="screen"/>
{% endblock %}

{% block breadcrumbs %}
    <p>You are here: <a href="/">home</a> &gt; <a href="/devices/">devices</a> &gt; {{ device.name }}</p>
{% endblock %}

{% block content %}
    <!-- <table
		summary="A table of selected features of the product"
		cellspacing="2" 
		class="bodytabletwo"
	>
		<tr>
			<th scope="row" class="thtop">Supplier(s):</th>
			<td>
			{% for supplier in device.suppliers.all %}
				<a href="/supplier/{{ supplier.id }}/">{{ supplier.name }}</a>
				{% if not forloop.last %}<br />{% endif %}
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">Size</th>
			<td>{{ device.width_cm }} &times; {{ device.height_cm }} &times; {{ device.depth_cm }}cm</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">Access</th>
			<td>
				{% for access_method in device.access_methods.all %}
    {{ access_method.name }},
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">Weight:</th>
			<td>{{ device.weight_kg }}kg</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">Guide Price:</th>
			<td>&pound;{{ device.guide_price_gbp }}</td>
		</tr>
	</table> -->
    <div id="gallerycontainer">
        <div id="gallery" class="content">
            <div id="slideshow" class="slideshow"></div>
            <div id="caption" class="caption-container"></div>
        </div>
        <div id="thumbs" class="navigation">
            <ul
                    {% ifequal device.images.all|length 1 %}style="display: none;"{% endifequal %}
                    class="thumbs noscript"
                    >
                {% for image in device.images.all %}
                    <li>
                        <a class="thumb" href="{% version image.image 'small' %}" title="Image of {{ device.name }}">
                        <img src="{% version image.image 'cropped' %}" alt="Image of {{ device.name }}" />
                        </a>
                        <div class="caption">
                            <div class="download">
                                <a class="lightbox" href="{{ image.image }}">
                                    See full size images
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="long_description">
        {{ device.long_description|safe }}
    </div>
    <h2>Specifications</h2>
    <table summary="A table of product specifications" class="spectable">
        <tr>
            <th scope="row" class="thtop">Supplier(s):</th>
            <td>
                {% for supplier in device.suppliers.all %}
                    <a href="/supplier/{{ supplier.slug }}/">{{ supplier.name }}</a>
                    {% if not forloop.last %}<br/>{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Size</th>
            <td>
                {% if device.width_cm %}
                    {{ device.width_cm }} &times;
                    {{ device.height_cm }} &times;
                    {{ device.depth_cm }}cm
                {% else %}
                    Not known
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Weight</th>
            <td>
                {% if device.weight_kg %}
                    {{ device.weight_kg }}kg
                {% else %}
                    Not known
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Access method</th>
            <td>
                {% for access_method in device.access_methods.all %}
                    {{ access_method.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Max number of messages</th>
            <td>{{ device.max_number_messages }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Number of message levels</th>
            <td>
                {% if device.message_levels %}
                    {{ device.number_message_levels }}
                {% else %}
                    n/a
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Speech type</th>
            <td>{{ device.get_speech_type_display }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Touchscreen size</th>
            <td>
                {% if device.screen_size_cm %}
                    {{ device.screen_size_cm }} cm
                {% else %}
                    n/a
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Environmental control</th>
            <td>{{ device.environmental_control|yesno|capfirst }}</td>
        </tr>
        {% if device.environmental_control_notes %}
            <tr>
                <th scope="row" class="thtop">Environmental control notes:</th>
                <td>{{ device.environmental_control_notes|safe }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row" class="thtop">Mobile phone capability</th>
            <td>{{ device.get_mobile_phone_capable_display }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Battery life</th>
            <td>{{ device.battery_life }}</td>
        </tr>
        <!--
<tr>
		<th scope="row" class="thtop">Wheelchair mounting plate/fixing</th>
		<td>{{ device.get_wheelchair_mount_display }}</td>
	</tr>
	<tr>
		<th scope="row" class="thtop">Wheelchair mounting &mdash; compatible systems</th>
		<td>
			{% for wheelchair_mount in device.compatible_wheelchair_mount.all %}
        {{ wheelchair_mount.name }},
			{% endfor %}
		</td>
	</tr>
-->
        <tr>
            <th scope="row" class="thtop">Table stand</th>
            <td>{{ device.get_table_stand_display }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Colours</th>
            <td>{{ device.colours|safe }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Guide Price</th>
            <td>
                {% if device.guide_price_na %}
                    n/a
                {% else %}
                    &pound;{{ device.guide_price_gbp }}
                {% endif %}
            </td>
        </tr>
        {% if device.guide_price_notes %}
            <tr>
                <th scope="row" class="thtop">Price notes:</th>
                <td>{{ device.guide_price_notes|safe }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row" class="thtop">Comm software included</th>
            <td>
                {% if device.number_supplied_software %}
                    Choice of {{ device.number_supplied_software }} of
                    {% for software in device.supplied_software.all %}
                        <a href="/software/{{ software.slug }}/">{{ software.name }}</a>{% if not forloop.last %},
                    {% endif %}
                    {% endfor %}
                {% else %}
                    n/a
                {% endif %}
            </td>
        </tr>
        {% if device.software_notes %}
            <tr>
                <th scope="row" class="thtop">Software notes:</th>
                <td>{{ device.software_notes|safe }}</td>
            </tr>
        {% endif %}
        <!--
    <tr>
		<th scope="row" class="thtop">Vocabularies included</th>
		<td>
			{% if device.number_supplied_vocabularies %}
				Choice of {{ device.number_supplied_vocabularies }} of
				{% for vocabulary in device.supplied_vocabularies.all %}
				<a href="/vocabulary/{{ vocabulary.slug }}/">{{ vocabulary.name }}</a>{% if not forloop.last %},
        {% endif %}
				{% endfor %}
			{% else %}
				n/a
			{% endif %}
		</td>
	</tr>
    -->
        <tr>
            <th scope="row" class="thtop">Warranty</th>
            <td>{{ device.warranty_notes|safe }}</td>
        </tr>
    </table>
    <p class="firstpara">Note that the information above is correct to the best of the ACE Centre's knowledge, but check
        with the supplier(s) if in doubt. We would be grateful if you could let us know of any errors - email <a
                href="mailto:speechbubble@ace-centre.org.uk">speechbubble@ace-centre.org.uk</a></p>
    <p><a href="#">back to top</a></p>
    <script
            type="text/javascript"
            src="/media/js/jquery/plugins/jquery.galleriffic.js"
            ></script>
    <script
            type="text/javascript"
            src="/media/js/jquery/plugins/jquery.lightbox-0.5.js"
            ></script>
    <script
            type="text/javascript"
            src="/media/js/jquery/jquery.truncator.js"
            ></script>
    <script type="text/javascript">
        // We only want these styles applied when javascript is enabled
        $('div.navigation').css({'width': '250px', 'float': 'left'});
        $('div.content').css('display', 'inline');

        $(document).ready(function () {
            // Initialize Minimal Galleriffic Gallery
            $('#gallery').galleriffic('#thumbs', {
                imageContainerSel: '#slideshow',
                controlsContainerSel: '#controls',
                captionContainerSel: '#caption',
                numThumbs: 3, // The number of thumbnails to show
                onTransitionIn: function () {
                    $('#slideshow').fadeIn('fast');
                    $('#caption').fadeIn('fast', function () {
                        $('.download a.lightbox').lightBox();
                    });
                }
            });
            // Initialize jTruncate for description (un-comment out next line if truncator required)
            // $('#long_description').truncate({max_length: 300});
        });
    </script>
    <script type="text/javascript" src="/media/js/jquery/jookie.js"></script>
    <script type="text/javascript" src="/media/js/CompareBox.js"></script>
{% endblock %}

{% block rightcontent %}
    <!--<div class="downloads">
	{% if device.documents.all %}
	<p class="subhead">DOWNLOADS</p>
	<ul>
	{% for document in device.documents.all %}
		<li class="{{ document.file.path|slice:"-3:" }}">
			<a href="{{ document.file.url }}">{{ document.name }} ({{ document.file.path|slice:"-3:" }},
        {{document.file.size|filesizeformat }})</a>
		</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>-->

    <div class="cbb">
        <h3>CHOOSE</h3>

        <p class="subhead">ANOTHER DEVICE</p>

        <form action="" method="get" name="deviceSelect" class="textsizeadjust">
            <p>
                <label for="devices" class="formlabel">Details of:</label>
                <select
                        name="devices"
                        id="devices"
                        onchange="document.location.href=document.deviceSelect.devices.options[document.deviceSelect.devices.selectedIndex].value"
                        >
                    <option value="">Choose device&hellip;</option>
                    {% for device in device_list %}
                        <option value="/device/{{ device.slug }}/">{{ device.name }}</option>
                    {% endfor %}
                </select>
            </p>
        </form>
    </div>

    <div class="cbb">
        <h3>FIND</h3>

        <p class="subhead">SIMILAR AIDS</p>

        <p>Find products with similar:</p>

        <form
                action="/devices/"
                method="get"
                >
            <ul class="checkboxlist">
                {% if device.touchscreen %}
                    <li>
                        <input
                                type="checkbox"
                                name="touchscreen_size"
                                value="{{ device.touchscreen }}"
                                id="item1"
                                />
                        <label for="item1">
                            Screen size ({{ device.touchscreen }})
                        </label>
                    </li>
                {% endif %}
                {% if device.weight_kg %}
                    <li>
                        <input
                                type="checkbox"
                                name="weight"
                                value="{{ device.weight_kg }}"
                                id="item2"
                                />
                        <label for="item2">
                            Weight ({{ device.weight_kg }} kg)
                        </label>
                    </li>
                {% endif %}
                {% for os in device.operating_system.all %}
                    <li>
                        <input
                                type="checkbox"
                                name="operating_system"
                                value="{{ os.name }}"
                                id="item3"
                                />
                        <label for="item3">
                            Operating system ({{ os.name }})
                        </label>
                    </li>
                {% endfor %}
                {% for supplier in device.suppliers.all %}
                    <!--<li>
				<input 
					type="checkbox"
					name="supplier" 
					value="{{ supplier.slug }}" 
					id="item4" 
				/>
				<label for="item4">
					Supplier ({{ supplier.name }})
				</label>
			</li>-->
                {% endfor %}
                <li>
                    <input
                            type="checkbox"
                            name="number_messages"
                            value="{{ device.number_messages }}"
                            id="item5"
                            />
                    <label for="item5">
                        Messages ({{ device.number_messages }})
                    </label>
                </li>
            </ul>
            <p>
                <input
                        src="/media/img/formbuttonsimilar.gif"
                        alt="Find Similar Aids"
                        class="searchbutton"
                        value="search"
                        type="image"
                        />
            </p>
        </form>
    </div>


    <!--<div class="cbb">
	<h3>ADD</h3> 
	<p class="subhead">TO COMPARISON</p> 
	<div id="{{ device.slug }}_td" class="tickbox">       
        <input 
            id="{{ device.slug }}" 
            type="checkbox" 
            class="product" 
            name="device" 
            value="{{ device.name }}" 
	/>
    	<label for="{{ device.slug }}">
    		<p class="smaller">Add to COMPARE list</p>
         </label>
	</div>
</div>-->

    <div class="cbb">
        <h3>COMPARE</h3>

        <p class="subhead">THIS PRODUCT</p>

        <div id="{{ device.slug }}_td" class="tickbox">
            <input
                    id="{{ device.slug }}"
                    type="checkbox"
                    class="product"
                    name="device"
                    value="{{ device.name }}"
                    />
            <label for="{{ device.slug }}">
                <p class="smaller">Add to COMPARE list</p>
            </label>
        </div>
        <p>Side-by-side view of up to 5 products</p>
        <!--<p class="smaller">Click tickbox to remove</p>-->
        <form
                action="/devices/compare/"
                method="get"
                id="frmcompareform"
                >
            <ul id="compareList" class="checkboxlist">
            </ul>
            <p>
                <input
                        src="/media/img/formbuttoncompare.gif"
                        alt="compare these products"
                        class="searchbutton"
                        value="search"
                        type="image"
                        />
            </p>
        </form>
    </div>



    <!--<div id="{{ device.slug }}_td" class="tickbox">
	Add to COMPARE list 
	<input 
		id="{{ device.slug }}" 
		type="checkbox" 
		class="product" 
		name="device" 
		value="{{ device.name }}" 
	/>
</div>-->
{% endblock %}
