{% extends "threecol.html" %}
{% load pagination_tags %}

{% block title %}Software Search{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/css/paginate.css" type="text/css" />
{% endblock %}

{% block contentleft %}
{% if search_initiated %}
<div class="cbb"> 
	<h3>FILTER</h3> 
	<p class="subhead">YOUR RESULTS</p> 
	<form 
		action="{{ request.get_full_path }}" 
		method="get" 
		id="frmfilterform"
	> 
		<label for="select2" class="formlabel">By Vocabulary</label> 
		{{ search_form.vocabulary }}
		<input 
			src="/media/img/formbuttongo.gif" 
			alt="filter your results" 
			class="searchbutton" 
			value="search" 
			type="image"
		/> 
		<div class="hidden">
			{{ search_form.supplier }}
			{{ search_form.access }}
			{{ search_form.auditory_scanning }}
			{{ search_form.multiple_users }}
			{{ search_form.second_language_support }}
			{{ search_form.message_view }}
			{{ search_form.prediction_enhancement }}
			{{ search_form.editable_dictionary }}
			{{ search_form.environmental_control }}
			{{ search_form.cell_magnification }}
			{{ search_form.sort_by }}
		</div>
	</form>	
</div>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    <p>You are here: <a href="/">home</a> &gt; <a href="/software/">software</a> &gt; search</p>
{% endblock %}

{% block content %}
{% if search_initiated %}
<h2>Results:</h2>
<p>Your search returned <span class="bold">{{ number_results }}</span> products</p>
{% if object_list %}
	{% autopaginate object_list 5 %}
	<form
		action="{{ request.get_full_path }}"
		method="get"
	>
		<p>
			Order by: 
			{{ search_form.sort_by }}
			<input
				type="submit"
				value="Go"
			/>
			<div class="hidden">
				{{ search_form.supplier }}
				{{ search_form.access }}
				{{ search_form.auditory_scanning }}
				{{ search_form.multiple_users }}
				{{ search_form.second_language_support }}
				{{ search_form.message_view }}
				{{ search_form.prediction_enhancement }}
				{{ search_form.editable_dictionary }}
				{{ search_form.environmental_control }}
				{{ search_form.cell_magnification }}
				{{ search_form.vocabulary }}
			</div>
		</p>
	</form>
{% if display_show_all_button %}
	<form
		action="{{ request.get_full_path }}"
		method="get"
	>
		<p>
			<input
				type="hidden"
				name="show"
				value="all"
			/>
			<input
				type="submit"
				value="Show all"
			/>
			<div class="hidden">
				{{ search_form.supplier }}
				{{ search_form.access }}
				{{ search_form.auditory_scanning }}
				{{ search_form.multiple_users }}
				{{ search_form.second_language_support }}
				{{ search_form.message_view }}
				{{ search_form.prediction_enhancement }}
				{{ search_form.editable_dictionary }}
				{{ search_form.environmental_control }}
				{{ search_form.cell_magnification }}
				{{ search_form.vocabulary }}
				{{ search_form.sort_by }}
			</div>
		</p>
	</form>
{% endif %}
	{% paginate %}
        <form 
		action="/software/compare/" 
		method="get"
	>
        <table 
		summary="A table of rows containing a product image, 
			a short description and a tickbox" 
		width="100%" 
		cellspacing="2px"
		class="bodytablethree"
	>
        {% for result in object_list %}
                <tr>
                        <th scope="row">
                                {% if result.images.all.0.image.cropped %}
                                <a href="/software/{{ result.slug }}/"><img src="{{ result.images.all.0.image.cropped }}" alt="" /></a>
                                {% endif %}
                        </th>
                        <td>
                                <a href="/software/{{ result.slug }}/">{{ result.name }}</a><br />
                                {{ result.short_description|safe }}
                        </td>
                        <td id="{{ result.slug }}_td" class="tickbox">
                                Add to<br />COMPARE list<br />
                                <input 
					id="{{ result.slug }}" 
					type="checkbox" 
					class="product" 
					name="software" 
					value="{{ result.name }}" 
				/>
                        </td>
                </tr>
        {% endfor %}
	</table>
	<p>
	<input 
		src="/media/img/formbuttoncompare.gif" 
		alt="compare these products" 
		id="comparebutton"
		class="searchbutton" 
		value="search" 
		type="image"
	/>
	</p>
	</form>
{% paginate %}
{% if display_show_all_button %}
	<form
		action="{{ request.get_full_path }}"
		method="get"
	>
		<p>
			<input
				type="hidden"
				name="show"
				value="all"
			/>
			<input
				type="submit"
				value="Show all"
			/>
			<div class="hidden">
				{{ search_form.supplier }}
				{{ search_form.access }}
				{{ search_form.auditory_scanning }}
				{{ search_form.multiple_users }}
				{{ search_form.second_language_support }}
				{{ search_form.message_view }}
				{{ search_form.prediction_enhancement }}
				{{ search_form.editable_dictionary }}
				{{ search_form.environmental_control }}
				{{ search_form.cell_magnification }}
				{{ search_form.vocabulary }}
				{{ search_form.sort_by }}
			</div>
		</p>
	</form>
{% endif %}
{% endif %}
{% else %}
<h2>Browse products alphabetically:</h2> 
<div class="alphalist">
<p> 
	<a href="/software/a/">A</a> 
	<a href="/software/b/">B</a> 
	<a href="/software/c/">C</a> 
	<a href="/software/d/">D</a> 
	<a href="/software/e/">E</a> 
	<a href="/software/f/">F</a> 
	<a href="/software/g/">G</a> 
	<a href="/software/h/">H</a> 
	<a href="/software/i/">I</a> 
	<a href="/software/j/">J</a> 
	<a href="/software/k/">K</a> 
	<a href="/software/l/">L</a> 
	<a href="/software/m/">M</a> 
	<a href="/software/n/">N</a> 
	<a href="/software/o/">O</a> 
	<a href="/software/p/">P</a> 
	<a href="/software/q/">Q</a> 
	<a href="/software/r/">R</a> 
	<a href="/software/s/">S</a> 
	<a href="/software/t/">T</a> 
	<a href="/software/u/">U</a> 
	<a href="/software/v/">V</a> 
	<a href="/software/w/">W</a> 
	<a href="/software/x/">X</a> 
	<a href="/software/y/">Y</a> 
	<a href="/software/z/">Z</a> 
</p>
</div>
<h2>Or detailed search by</h2>
<form action="/software/" method="get">
	<table 
		summary="A table containing a tickbox list of product types"
		width="100%" 
		cellspacing="2" 
		class="spectable"
	>
		<tr>
			<th scope="row" class="thtop">
	Supplier:
			</th>
			<td>
	{{ search_form.supplier }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Access method:
	<br />
	(You can choose more than one)
			</th>
			<td>
	{{ search_form.access }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Auditory scanning options:
			</th>
			<td>
	{{ search_form.auditory_scanning }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Multiple user facilities:
			</th>
			<td>
	{{ search_form.multiple_users }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Second language support:
			</th>
			<td>
	{{ search_form.second_language_support }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Text AND symbols in the message display:
			</th>
			<td>
	{{ search_form.message_view }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Options for speeding up message creation
			</th>
			<td>
	{{ search_form.prediction_enhancement }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Editable dictionary
			</th>
			<td>
	{{ search_form.editable_dictionary }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Environmental control features
			</th>
			<td>
	{{ search_form.environmental_control }}
			</td>
		</tr>
		<tr>
			<th scope="row" class="thtop">
	Cell magnification
			</th>
			<td>
	{{ search_form.cell_magnification }}
			</td>
		</tr>
		<tr> 
			<th scope="row" class="thtop"></th> 
			<td> 
	
	<input
		src="/media/img/formbuttonbluesearch.gif" 
		alt="search for products based on your options" 
		class="searchbutton" 
		value="search"
		type="image"
	/> 
    <button
		type="reset"
	>
	<img
		src="/media/img/startagainbutton.gif" 
		alt="start again" 
		class="resetbutton" 
	/> 
	</button>
			</td> 
		</tr> 
	</table>
</form>
{% endif %}
<script type="text/javascript" src="/media/js/json2.js"></script> 
<script type="text/javascript" src="/media/js/jquery/jquery.cookie.js"></script> 
<script type="text/javascript" src="/media/js/jquery/jookie.js"></script>
<script type="text/javascript" src="/media/js/jquery/jquery.slugify.js"></script>
<script type="text/javascript" src="/media/js/CompareBox.js"></script>
{% endblock %}
{% block rightcontent %}
{% if search_initiated %}
<div class="cbb"> 
	<h3>CHOOSE</h3> 
	<p class="subhead">ANOTHER PRODUCT</p> 
<form action="" method="get" class="homeselect" name="softwareSelect">
	<p>
	<label for="software" class="formlabel">Details of:</label>
	<select 
		name="software" 
		id="software"
		onchange="document.location.href=document.softwareSelect.software.options[document.softwareSelect.software.selectedIndex].value"
	>
		<option value="">Choose software&hellip;</option>
	{% for software in software_list %}
		<option value="/software/{{ software.slug }}/">{{ software.name }}</option>
	{% endfor %}
	</select>
	</p>
</form>
</div>
<div class="cbb"> 
	<h3>COMPARE</h3> 
	<p class="subhead">THIS PRODUCT</p> 
	<p>Side-by-side view of up to 5 products</p> 
	<p class="smaller">Click tickbox to remove</p> 
	<form 
		action="/software/compare/" 
		method="get"
		id="frmcompareform"
	>
		<ul id="compareList" class="checkboxlist"> 
		</ul> 
		<p>
		<input 
			src="/media/img/formbuttoncompare.gif" 
			alt="compare these products" 
			class="searchbutton" 
			value="search" 
			type="image"
		/>
		</p>
	</form>	
</div>
{% endif %}
{% endblock %}
