{% extends "threecol.html" %}

{% block title %}Software{% endblock %}

{% block breadcrumbs %}
    <p>You are here: <a href="/">home</a> &gt; software</p>
{% endblock %}

{% block content %}
    {% if software_list %}
        <p>Your search returned <span class="bold">{{ number_results }}</span> products</p>
        <form 
		action="/software/compare/" 
		method="get"
	>
        <table 
		summary="A table of rows containing a product image, 
			a short description and a tickbox" 
		width="100%" 
		cellspacing="2px"
		class="bodytablethree"
	>
        {% for software in software_list %}
                <tr>
                        <th scope="row">
                                {% if software.images.all.0.image.cropped %}
                                <a href="/software/{{ software.slug }}/"><img src="{{ software.images.all.0.image.cropped }}" alt="" /></a>
                                {% endif %}
                        </th>
                        <td>
                                <a href="/software/{{ software.slug }}/">{{ software.name }}</a><br />
                                {{ software.short_description|safe }}
                        </td>
                        <td id="{{ software.slug }}_td" class="tickbox">
                                Add to<br />COMPARE list<br />
                                <input 
					id="{{ software.slug }}" 
					type="checkbox" 
					name="software" 
					value="{{ software.name }}" 
				/>
                        </td>
                </tr>
        {% endfor %}
	</table>
	<p>
	<input 
		src="/media/img/formbuttoncompare.gif" 
		alt="compare these products" 
		class="searchbutton" 
		value="search" 
		type="image"
	/>
	</p>
	</form>
        {% else %}
                <p>No software matched your search criteria</p>
        {% endif %}
<script type="text/javascript" src="/media/js/jquery.cookie.js"></script> 
<script type="text/javascript" src="/media/js/jquery.jsoncookie.js"></script>
<script type="text/javascript">
<!--
$(document).ready(function (){ //Wait for the page to load.
	$('input[name=software]').bind('change', function (){
		updateCompareList(this);
	});
});

function updateCompareList(element){
	//Do something when the content of 'element' is changed.
	var softwareSlug = $(element).attr('id');
	var softwareName = $(element).val();
	if ($(element).is(':checked')) {
		$('#compareList').append('<li id="'+softwareSlug+'_li"></li>');
		$('#'+softwareSlug).appendTo('#'+softwareSlug+'_li');
		$('#'+softwareSlug+'_li').append(softwareName);
		$('#'+softwareSlug+'_td').text("Added to comparison");
	}
	else {
		$('#'+softwareSlug+'_td').text("Add to COMPARE list");
		$('#'+softwareSlug).appendTo('#'+softwareSlug+'_td');
		$('#'+softwareSlug+'_li').remove();
	}
};
-->
</script>
{% endblock %}
{% block rightcontent %}
<div class="cbb"> 
	<h3>COMPARE</h3> 
	<p class="subhead">THIS PRODUCT</p> 
	<p>Side-by-side view of up to 5 products</p> 
	<p class="smaller">Click tickbox to remove</p> 
	<form 
		action="/software/compare/" 
		method="get"
		id="frmcompareform"
	>
		<ul id="compareList" class="checkboxlist"> 
		</ul> 
		<p>
		<input 
			src="/media/img/formbuttoncompare.gif" 
			alt="compare these products" 
			class="searchbutton" 
			value="search" 
			type="image"
		/>
		</p>
	</form>	
</div>
{% endblock %}
