{% extends "threecol.html" %}

{% block title %}{{ supplier.name }}{% endblock %}

{% block breadcrumbs %}
    <p>You are here: <a href="/">home</a> &gt; <a href="/suppliers/">suppliers</a> &gt; {{ supplier.name }}</p>
{% endblock %}

{% block content %}

<table summary="A table of supplier's contact details" class="spectable">
        <tr>
            <th scope="row" class="thtop">Address</th>
            <td>{{ supplier.address|safe }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Postcode</th>
            <td>{{ supplier.postcode }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Phone</th>
            <td>{{ supplier.phone_number }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Fax</th>
            <td>{{ supplier.fax_number }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Email</th>
            <td>{{ supplier.email_address }}</td>
        </tr>
        <tr>
            <th scope="row" class="thtop">Website</th>
            <td><a href="http://{{ supplier.website_url}}/">{{ supplier.website_url }}</a></td>
        </tr>
    </table>
{% endblock %}
