{% extends "base.html" %}
{% load markup %}

{% block body1 %}
	
	{% if events_list %}
		<h1>Events</h1>
		{% for event in events_list %}
			<h2><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></h2>
			<h3>{{ event.date_span }}</h3>
			<p>{{ event.description|urlize|markdown }}</p>
		{% endfor %}
	{% if is_paginated %}
                <p>
                        {% if has_previous %}
                                <a href="?page={{ previous }}">&laquo; Previous</a> |
                        {% endif %}

                        {% for p in page_range %}
                                {% ifequal page p  %}
                                        <span class="current page">{{ p }}</span>
                                {% else %}
                                        <a href="?page={{ p }}">{{ p }}</a>
                                {% endifequal %}
                        {% endfor %}

                        {% if has_next %}
                                | <a href="?page={{ next }}">Next &raquo;</a>
                        {% endif %}
                </p>
        {% endif %}
	{% else %}	
		<h1>Events</h1>
		<h2>There are no events to display</h2>
	{% endif %}
	
{% endblock %}
